h1 {
  margin-top: 50px;
  margin-bottom: 20px;
}

#content {
  margin-top: 230px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 70px 80px 30px;
}

footer {
  margin-top: 50px;
}

#btn-row {
  padding: 0 145px;
}

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
